/* footer.css */

footer {
    background-color: #0f4568;
    color: white;
    padding: 2px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    padding: 0 10px;
    font-size: 12px;
    flex-wrap: wrap;
}

.footer-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.footer-links li {
    display: inline;
    margin: 0 10px;
}

.footer-links li a {
    color: white;
    text-decoration: none;
    font-size: 12px;
    padding: 5px 10px;
    transition: background-color 0.3s ease, border-radius 0.3s ease;
    border-radius: 0px;
}

/* Style au survol */
.footer-links li a:hover {
    background-color: #1c85b0;
    border-radius: 25px;
}

/* Mise en valeur au focus (pour la navigation au clavier) */
.footer-links li a:focus {
    background-color: #1c85b0;
    outline: none;
    border-radius: 25px;
}

/* Responsivité pour petits écrans */
@media (max-width: 600px) {
    footer {
        padding: 5px 0;
    }

    .footer-content {
        font-size: 10px;
    }

    .footer-links li {
        margin: 5px 10px;
    }
}

