/*style.css*/

/* Corps de la page avec l'image de fond */
body {
    min-height: 100vh;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5), -1px -1px 2px rgba(0, 0, 0, 0.5);
    padding-top: 30px;
    padding-bottom: 2px;
    margin: 0;
    padding: 0;
    background-color: #7dc0f7;
    overflow-x: hidden; /* Empêche le débordement horizontal */
}

h1, h2, h3 {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    color: #d4c380; /* Couleur dorée pour les titres */
}

.background-container {
    position: relative;
    width: 100%;
    height: 100vh; /* Hauteur de la fenêtre */
    overflow: hidden;
}

.background-image {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover; /* Cela garantit que l'image couvre toute la zone */
    background-position: center; /* Centre l'image */
}

.fond {
    background-image: url("/projet-lords-mobile-index/img/fond-de-site-00.webp");
    z-index: 1;
    width: 100%;
    width: 100%;
}

.colonnes-g {
    background-image: url("/projet-lords-mobile-index/img/colonnesg.webp");
    left: 0;
    top: 0;
    height: 100%;
    background-size: cover;
    background-position: left center; /* Positionne l'image à gauche */
    width: 100%;
    z-index: 2;
}

.colonnes-d {
    background-image: url("/projet-lords-mobile-index/img/colonnesd.webp");
    right: 0;
    top: 0;
    height: 100%;
    background-size: cover; /* L'image couvre tout l'espace disponible */
    background-position: right center; /* Positionne l'image à droite */
    width: 100%;
    z-index: 3;
}

.overlay {
    background: rgba(15,69,104, 0.7); /* Transparence */
    position: fixed;
    top: 0;
    left: 10%;
    right: 10%;
    bottom: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    z-index: 5; /* Important pour être au-dessus des images de fond */
}

.overlay-content {
    background: transparent;
    border-radius: 10px;
    width: 100%;
    max-height: 80vh; /* Empêche l'overlay d'être trop grand */
    overflow-y: auto; /* Active le scroll pour tout excès de contenu */
    display: flex;
    flex-direction: column;
}

/* Responsivité pour petits écrans */
@media (max-width: 768px) {
    .overlay {
        top: 0;
        left: 3%;  /* Réduction des marges latérales */
        right: 3%; /* Réduction des marges latérales */
        bottom: 0;
        height: 100vh; /* S'assurer qu'il ne dépasse pas la hauteur de la fenêtre */
    }

    .fond, .colonnes-g, .colonnes-d {
        background-position: top center;
        background-size: cover;
    }

    .colonnes-g, .colonnes-d {
        position: static; /* Modifier pour un comportement plus fluide sur les petits écrans */
        width: 100%;
        height: auto;
    }
}

.content-wrapper {
    margin-top: 50px; /* Ajuste cette valeur pour le mobile */
}

/* Applique les styles uniquement à l'intérieur de .element */

.element {
    overflow-y: auto; /* Active le scroll interne */
    max-height: 85vh; /* Définit une hauteur maximale pour le texte */
}

.element {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    color: white;
    margin: 0;
    padding: 10px;
    text-align: center;
}

.element h1 {
    color: #d4c380;
}

.element h2 {
    color: #4cf4f4; 
}

.element img, 
.element video {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    object-fit: cover; /* Ajout pour éviter la déformation */
}

.element video {
    display: block;
    margin: 0 auto;
}

/* Pour les écrans larges (≥ 1024px) */
@media (min-width: 1024px) {
    .element {
        padding: 10px; /* Augmente l'espace intérieur sur grand écran */
    }

    .element img, 
    .element video {
        max-width: 80%; /* Réduit légèrement la taille pour ne pas être trop grand */
    }
}

@media (max-width: 600px) {
    .element .contact {
        padding: 20px;
    }
}


